:root{
    --border: 3px solid black;
    --hoverSymbol:url(./images/black_x.png);
    --hoverSize: 80%;
    --activeSymbol: url(./images/white_x.png);
    --bg-color:#ffffff;
    --text-color: #000000;
}
body{
    font-family: Helvetica;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 1em;
}
header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    margin-top: 40px;
}
header img{
    width: 60px;
    padding: 15px;
}
.title, .p1, .p2{
    font-size: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title h1{
    margin: 0;
}
.title h2{
    padding: 5px 25px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 500;
}
.title h2:hover{
    background-color: black;
    color: white;
}
.score{
    display: flex;
    justify-content: center;
    gap: 35px;
}
.p1 h2, .p2 h2{
    margin: 0;
    padding: 5px 20px;
}
.p1 h2:hover, .p2 h2:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
.p1 h2:active, .p2 h2:active{
    color: black;
    background-color: white;
    border: none;
}
/* //SYMBOL CHANGE
.p1 img:hover, .p2 img:hover{
    box-shadow: 5px 5px 7px #0000001b;
    cursor: pointer;
}
.p1 img:active, .p2 img:active{
    box-shadow: 2px 2px 3px ;
}*/
main{
    padding-bottom: 30px;
    margin: auto;
}
.grid-container{
    width: 540px;
    height: 540px;
    margin-top: 50px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    justify-self: center;
    align-self: center;
}

#a0, #b0, #c0{
    border-right: var(--border)
}
#a0,#a1, #a2, #b0, #b1, #b2{
    border-bottom: var(--border);
}
 #a2, #b2, #c2{
    border-left:var(--border)
}
.square:hover{
    background: var(--hoverSymbol);
    background-size: var(--hoverSize);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.square:active{
    background: var(--activeSymbol), black;
    background-size: var(--hoverSize);
    background-repeat: no-repeat;
    background-position: center;
}
.mobile-score{
    display: none;
}
dialog{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 150px;
    border: none;
    backdrop-filter: blur(5px);
    background-color: #64abeea9;
    color: white;
    padding: 40px;
}
dialog button{
    font-size: 1em;
    background-color: #1e96d6f0;
    color: white;
    border-radius: 5px;
    border: 1.5px solid #104c6c;
    padding: 5px 25px;
    margin-top: 15px;
}
dialog button:hover{
    box-shadow: 2px 2px 2px 0 #35353548;
}
dialog button:active{
    background-color: #2f81ad;
    box-shadow: none;
}
@media (min-width: 2000px) {
    body{
        gap: 0;
    }
    header{
        grid-template-columns: 1fr 1fr 1fr;
    }
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
    }
    .grid-container{
        width: 35vw;
        height: 35vw;
    }
}
@media (max-width: 700px){
    .grid-container{
        max-width: 80vw;
        height: 90vw;
    }
    header{
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
    }
    header img{
        width: 50px;
        padding: 10px
    }
    .p1, .p2{
        grid-row: 2 / 3;
    }
    .name{
        font-size: 1.1em;
    }
    .title{
        grid-column: 1 / 3;
    }
    .title h1{
        font-size: 1.7em;
    }
    .score h2{
        display: none;
    }

    .mobile-score{
        display: flex;
        justify-content: space-evenly;
    }
    .mobile-score h2{
        padding: 5px 25px;
        border: 2px solid black;
        border-radius: 10px;
        font-weight: 500;
        margin: 0;
    }
    .mobile-score h2:hover{
        background-color: black;
        color: white;
    }

}
